<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="Spire.PDF" version="6.8.5" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.ExcelToPdfConverter.WinForms" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.PdfViewer.Windows" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.Shared.Base" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.WinForms" version="18.2.0.54" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="18.2.0.54" targetFramework="net472" />
</packages>